<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/employees">Homepage</a></li>
            <li><a href="/create">Add employee</a></li> 
        </ul>
    </nav>
    <!-- window  -->
    <h1>Detail Information about this Employees</h1>
    <div> 
        <h2><%= employee.name %></h2>
        <h4><%= employee.role %></h4>
        <h6><%= employee.age %></h6>
        
        <a class="del" data-item="<%= employee._id %>"><button>Delete</button></a>
    </div>

    <script>
        const frey = document.querySelector('.del')

        frey.addEventListener('click',() => {
            const url = `/employees/${frey.dataset.item}`
            fetch(url,{
                method: "DELETE",
            }).then((res) =>res.json()).then((data) => {
                window.location.href = data.redirect;
            }).catch((error) => console.log(error));
        });
    </script>
</body>
</html>